body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hero {
  background-color: #1F2937;
  padding: 0 400px;;
  font-family: 'Roboto', sans-serif;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  padding: 8px;
}

.hero ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 25px;
}

.hero li {
  font-size: 18px;
  flex: 1 0 1;
}

.hero li a {
  text-decoration: none;
  color: #E5E7EB;
}

.hero-text {
  color: #F9FAF8;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  width: 450px;
  margin-right: 50px;
  padding: 5px;
}

.hero button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
  background-color: #3882F6;
  width: 130px;
  height: 38px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}

.hero-subtext {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: -10px;
}

.hero-photo {
  background-color: #545e6e;
  width: 520px;
  height: 235px;
}

.hero-container {
  display: flex;
  justify-content: center;
  margin-bottom: 135px;
}

.header-text {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header-items {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.header-items .square {
  width: 170px;
  height: 170px;
  border: 4px #3882F6 solid;
  border-radius: 13px;
  flex: 1 0 1;
}

.square-subtext {
  width: 180px;
  text-align: center;
  margin-top: 10px;
}

.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  height: 450px;
  width: auto;
  margin-top: 120px;
}

.quote-text {
  color: #1F2937;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  width: 800px;
}

.another-text {
  margin-left: 520px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.rectangular {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  align-self: center;
  background-color: #3882F6;
  width: 1000px;
  height: 150px;
  border-radius: 10px;
}

.rectangular-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.rectangular-text, .rectangular-subtext{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #F9FAF8;
}

.rectangular-subtext {
  font-weight: normal;
  font-size: 17px;
}

.rectangular-button {
  align-self: center;
  margin: 0 auto;
}

.rectangular-button button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
  background-color: #3882F6;
  width: 130px;
  height: 38px;
  border-radius: 8px;
  border: 2px #F9FAF8 solid;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: #E5E7EB;
  height: 100px;
}
